version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
    target-branch: "dependabot/updates"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
    labels:
      - "dependencies"

  - package-ecosystem: "pip"
    directory: "/backend/api"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
    target-branch: "dependabot/updates"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
    labels:
      - "dependencies"

  - package-ecosystem: "pip"
    directory: "/cli"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
    target-branch: "dependabot/updates"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
    labels:
      - "dependencies"
